.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #ff914d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease; 
}

.buttons button:hover {
  background-color: #D0EAFF;
  color: rgb(203, 114, 19);
  transform: scale(1.1); 
  box-shadow: 0px 0px 15px 5px rgba(66, 29, 6, 0.7); 
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6); 
}

.buttons button:active {
  transform: scale(1); 
  box-shadow: 0px 0px 25px 10px rgba(66, 29, 6, 1); 
}

.slider {
  width: 300px;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
}

.slides div {
  flex: 0 0 200px;
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 10px;
  cursor: pointer;
  scroll-snap-align: start;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2b79c;
  color: #d76835;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 370px;
  font-size: 1.8em;
}

.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #ff914d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease; 
}

.modal button:hover {
  background-color: #D0EAFF;
  color: rgb(203, 114, 19);
  transform: scale(1.1); 
  box-shadow: 0px 0px 15px 5px rgba(66, 29, 6, 0.7); 
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6); 
}

.modal button:active {
  transform: scale(1); 
  box-shadow: 0px 0px 25px 10px rgba(66, 29, 6, 1); 
}

.timer {
  background-color: #D0EAFF;
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
}


.choix-pasta {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 90%;
  background-color: rgba(255, 255, 255, 0.198);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.choix-pasta {
  padding: 0 15px;
}

.choix-pasta-time {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.198);
  padding: 0 15px;
  width: 95%;
  margin-left: -2%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.buttons-cuisson {
  background-color: rgba(255, 255, 255, 0.198);
  width: 104%;
  margin-left: -2%;
  padding-bottom: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.pasta-illustration {
  padding: 0 15px;
  width: 90%;
  padding-bottom: 15px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.198);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pasta-card {
  background-color: #F9968B !important;
  /* background-color: #D0EAFF !important; */
  width: 100%;
  /* width: 500px; */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
}

.pasta-card:hover {
  transform: scale(1.05); /* Effet de zoom pour l'image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pasta-card {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.pasta-card.selected {
  border: 2px solid orange;
}


.pasta-card img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pasta-timer-all {
  width: 100%;
  display: flex;
}

.pasta-timer-all-title {
  display: flex;          /* Utilisation de Flexbox pour aligner les éléments */
  justify-content: flex-start;  
  text-align: start;
  height: 100%;   
  flex-direction: row;  
  width: 20px;      
}

.pasta-timer-all-title h1 {
  writing-mode: vertical-rl; 
  transform: rotate(-180deg);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: -10%;
  margin-left: -270%;
  z-index: 100;

  /* margin-top: -250px; */
}
.pasta-timer-all-title img {
  height: 100px;
  /* writing-mode: vertical-rl; */
  transform: rotate(0deg);
  margin-top: 130px;
}

.main-container {
  width: 100%;
  gap: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  /* gap: 5%; */
  width: 700px;
  /* width: 100%; */
  background-color: #e8895d;
  /* background-color: #e9aa79; */

  /* background-color: #5784BA; */
  /* overflow: scroll; */
  overflow-x: auto;
  /* scroll-snap-align: center; */
  /* padding-left: 30px;
  padding-right: 30px; */
  padding: 0 10px;
  scroll-snap-type: x mandatory; /* Active le snap horizontal */
  scroll-snap-align: start; 
}

.main-illustration {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* padding-top: -5%; */
}

.main-illustration img {
  width: 300px;
  border-radius: 10px;
}

.choix-categorie {
  background-color: #b6d8f288;
  padding: 15px;
  flex-shrink: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-direction: row; */

}

@media (max-width: 475px) {
  .container {
    display: flex;
    flex-direction: column;
  }


}


.container-titre {
  display: flex;
  flex-direction: column;
}
/* .container-titre h1 {
  margin-top: -3%;
} */

.second-container {
  display: flex;
  flex-direction: column;
  /* gap: 10%; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 0 10px;
}


.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.recipe-card {
  width: 336px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-card:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transform: scale(1.1); /* Légère augmentation de la taille pour l'effet de "sonner" */
  box-shadow: 0px 0px 15px 5px rgba(66, 29, 6, 0.7); /* Effet de brillance autour du bouton */
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.recipe-card:active {
  transform: scale(1); /* Réduire la taille quand l'utilisateur clique sur le bouton */
  box-shadow: 0px 0px 25px 10px rgba(66, 29, 6, 1); /* Ombre plus intense pour l'animation de clic */
}

.recipe-card h2 {
  margin-top: -45%;
  margin-left: -45%;
}


 .buttons {
  display: flex;
  gap: 10px;
}

button {
  font-family: inherit;
  font-size: 18px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  background: #005bb5;
}

button span {
  margin-left: 0.3em;
  transition: transform 0.3s ease-in-out;
}

button .svg-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

button svg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  fill: white;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(0.5em) rotate(15deg) scale(1.1);
  fill: white;
}

button:hover span {
  transform: translateX(0.5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
